p {
    font-weight: 800;
    font-size: 20px;
}

body {
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

#moreText, #moreText2 {
    font-size: 24px;
}

#fakeLogin {
    position: absolute;
    top: 200px;
    left: 360px;
    padding: 10px 20px; 
    background-color: blue; 
    color: white;
    font-size: large;
    cursor: pointer;
}

#exit {
    position: absolute;
    top: 60px;
    left: 1400px;
    opacity: 0%;
    padding: 10px 20px; 
    background-color: darkgreen; 
    color: white;
    font-size: large;
    border: none;
    cursor: pointer;
}
  